html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.title-2 {
    font-size: 45px;
}

.sub-title {
    font-size: 25px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.card {
    margin: auto 15px;
}

.table {
    text-align: center;
}

.status-success {
    background-color: #46e075;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.status-failed {
    background-color: #e95050;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.status-refund {
    background-color: #eec53d;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
